

$slate-1: #f8fafc;
$slate-2: #f1f5f9;
$slate-3: #e2e8f0;
$slate-4: #cbd5e1;
$slate-5: #94a3b8;
$slate-6: #64748b;
$slate-7: #475569;
$slate-8: #334155;
$slate-9: #1e293b;
$slate-10: #0f172a;

$orange-1: #fff7ed;
$orange-2: #ffedd5;
$orange-3: #fed7aa;
$orange-4: #fdba74;
$orange-5: #fb923c;
$orange-6: #f97316;
$orange-7: #ea580c;
$orange-8: #c2410c;
$orange-9: #9a3412;
$orange-10: #7c2d12;

$red-1: #fef2f2;
$red-2: #fee2e2;
$red-3: #fecaca;
$red-4: #fca5a5;
$red-5: #f87171;
$red-6: #ef4444;
$red-7: #dc2626;
$red-8: #b91c1c;
$red-9: #991b1b;
$red-10: #7f1d1d;



$blue-1 : #f0f9ff;
$blue-2 : #e0f2fe;
$blue-3 : #bae6fd;
$blue-4 : #7dd3fc;
$blue-5 : #38bdf8;
$blue-6 : #0ea5e9;
$blue-7 : #0284c7;
$blue-8 : #0369a1;
$blue-9: #075985;
$blue-10: #0c4a6e;


$green-1: #f0fdf4;
$green-2: #dcfce7;
$green-3: #bbf7d0;
$green-4: #86efac;
$green-5: #4ade80;
$green-6: #22c55e;
$green-7: #16a34a;
$green-8: #15803d;
$green-9: #166534;
$green-10: #14532d;


$grey-1: #f9fafb;
$grey-2: #f3f4f6;
$grey-3: #e5e7eb;
$grey-4: #d1d5db;
$grey-5: #9ca3af;
$grey-6: #6b7280;
$grey-7: #4b5563;
$grey-8: #374151;


$pink-1: #fdf2f8;
$pink-2: #fce7f3;
$pink-3: #fbcfe8;
$pink-4: #f9a8d4;
$pink-5: #f472b6;
$pink-6: #ec4899;
$pink-7: #db2777;
$pink-8: #be185d;
$pink-9: #9d174d;
$pink-10: #831843;

$lime-1: #f7fee7;
$lime-2: #ecfccb;
$lime-3: #d9f99d;
$lime-4: #bef264;
$lime-5: #a3e635;
$lime-6: #84cc16;
$lime-7: #65a30d;
$lime-8: #4d7c0f;
$lime-9: #3f6212;
$lime-10: #365314;


$grey-9: #1f2937;
$grey-10: #111827;

// $neutral: $slate-9;
// $primary: $blue-5;
// $secondary: $red-7;
// // $accent: $red-7;
// $neutral-low : $green-2;
// $neutral-high : $orange-2;

// $neutral : #373f47;
// $primary : #fd3e81;
// $secondary : #ffecd1;
// $accent : #4daa57;
// $neutral : #909cc2;

$stock-color : #8447FF;
$primary : $slate-9;
$secondary : white;
// $accent : $pink-7;
$accent : $stock-color;
$accent-2 : #C2E812;
$neutral : $slate-6

